<!DOCTYPE html>
<html>
    <body>
        <h3>Congratulations {{name}}</h3>
        <div>
            Your nomination for training {{training}} has been submitted successfully
        </div>
    </body>
</html>